body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(234, 203, 203);
    padding: 25px;
    border-radius: 20px;
    width: 60%;
    text-align: center;
}

h1 {
    color: #2c5364;
}

input, textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0e0c0c;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c5364;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #203a43;
}

#status {
    margin-top: 10px;
    font-weight: bold;
}